
@font-face {
    font-family: "lovely-valentine";
    src: url(/fonts/lovely_valentine/lovely-valentine.ttf);

}


html{
    font-size: 150%;
}

 body header{
    background: lightcyan;
    width: 80%;

}

body header h1 {
    font-family:'lovely-valentine', serif;
    font-size: 100px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 4px 4px 5px blue;
    text-transform: uppercase;
    letter-spacing: -4px;
}

body header p {
    background: rgba(100, 100, 40, 0.4);
    width: 70vw;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.7);
    text-transform: none;
    text-decoration: none;
    text-align: center;
    line-height:1.2;
    word-spacing: 5px;
}

header li {
    font-size: 2rem;
}



