
a {
    background-color: grey;
}

a:visited {
    color: red;
    background-color: yellow;
}

a:hover {
    color: rebeccapurple;
}

input[type="checkbox"]{
    margin-left: 1rem;
}

input[type="checkbox"]:checked {
    margin-left: 0;
    box-shadow: 2px 2px 2px red;
}

.colorincho li {
    font-size: 2rem;
}

.colorincho li:first-child{
    background: orange;
}

.colorincho li:last-child{
    background: green;
}

.colorincho li:nth-child(2){
    background: lightseagreen;
}

.colorincho [href^='http']::after {
    content: '💃';
    font-size: 3rem;
    color:gray;
    font-weight: bold;
}

.rayas li:nth-child(even){
    background: lightseagreen;
}

.rayas li:nth-child(odd) {
    background:lightcoral;
}

.rayas li:not(:first-child){
    font-size: 2rem;
}

.rayas li:not(.guai) {
    color:white;
}

#elementos h2 {
    color: royalblue;
}

#elementos h2::first-letter{
    font-size: 3rem;
    color: red;
}

#elementos p{
    font-family: sans-serif;
}

#elementos h2::first-line{
    font-size: 1.5rem;
    color: lightseagreen;
}

#elementos p::selection{
    background: red;
    color: white;
}










