.uno {
    background: lightpink;
    width: 50%;
    height: 300px;
    font-size:2rem;
    overflow: auto;
    /* Coloca barras de scroll = overflow */
    margin: 0 auto;
    max-width: 400px;
    min-width: 200px;
    
}

.tres strong {
    background: green;
    color: white;
    border: 2px solid red;
    padding: 20px;
     /*Solo admite margen horizontal por ser un elemento inline  */
     display: block;
     /* conversion del elemnto inline strong en elemento en bloque */
     display: inline-block;
}  

ul li a {
    background: blue;
    color: white;
    padding: 5px;
    margin: 4px;
    display: inline-block;
}